html {
    height: 98%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #303030;
    color:white;
    font-size: 10pt;
}
div#control
{
    float: right;
}
.ui-button-text {
    font-size: 6pt !important;
}

.ui-state-active .ui-button-text
{
    background-color: gold;
}
.ui-button-text
{
    background-image: none;
}

#modelSelect-button
{
    font-size: 6pt;
}
.overflow {
    height: 500px;
}

#container {
    width: 96%;
    height: 96%;
    margin: 0 auto;
}

#header {
    background-color: black;
}

#nav {
    float: left;
    width: 230px;
}

#content {
    height:90%;
    margin-left: 240px;
}

#loading {
    position: absolute;
    margin-left: 240px;
}

#displaceScale {
    width: 70%;
    margin-left: 20px;
}

#footer {
    clear: left;
    width: 100%;
    background-color: black;
}

canvas#main
{
    width: 100%;
    height: 100%;
    cursor: default;
    background-color: #101020;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
}
