html {
    overflow: hidden;
    height: 100%;
    margin: 0;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #303030;
    color:white;
    font-size: 10pt;
}
div#control
{
    float: right;
}
.ui-state-active .ui-button-text
{
    background-color: gold;
}
.ui-button-text {
    font-size: 8pt !important;
}

#modelSelect-button
{
    font-size: 6pt;
}

#modelSelect {
    background-color: #303030;
    color:white;
}

#container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#header {
    background-color: black;
    margin: 0;
    padding: 0;
}

#nav {
    margin: 0;
    padding: 0;
}

#content {
    height:60%;
    margin: 0;
}

#footer {
    clear: left;
    width: 100%;
    margin: 0;
    background-color: black;
}

canvas#main
{
    width: 100%;
    height: 100%;
    cursor: default;
    background-color: #101020;
    margin:0;
}
