html {
    overflow:hidden;
    height: 100%;
    margin: 0;
}
body {
    height: 100%;
    color:white;
    font-size: 10pt;
    margin:0;
    padding:0;
}

#header {
    position:absolute;
    top: 0;
    left: 0;
}
#header {
    color: #000000;
}

#credit {
    position:absolute;
    bottom:1em;
    left:1em;
    font-size: 5pt;
    color: #000000;
}

#footer {
    position: absolute;
    clear: left;
    bottom: 0;
    right: 0;
    color: #000000;
}

canvas#main
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: default;
    background-color: #ffffff;
}

a:link { color: #000000; }
a:visited { color: #000080; }
