@charset "utf-8";

#container {
    width:96%;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}

#viewframe {
    width:100%;
    float:left;
}

#infoframe{
    float:left;
    margin-left:20px;
}

svg#main
{
    border: black solid 1px;
    draggingCursor: hand;
    width:100%;
    height:600px;
}

table.info{
    border-top:1px solid #663300;
    border-left:1px solid #663300;
    border-collapse:collapse;
    border-spacing:0;
    background-color:#ffffff;
    empty-cells:show;
    font-size: 10px;
}
.info th{
    border-right:1px solid #663300;
    border-bottom:1px solid #663300;
    color:#330000;
    background-color:#cccccc;
    background-position:left top;
    text-align:center;
    font-family: verdana,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
}
.info td{
    border-right:1px solid #663300;
    border-bottom:1px solid #663300;
    font-family: verdana,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
}
