@charset "utf-8";

body {
    font-family: verdana,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
    color: #333;
}
html>/**/body {
    font-size: 12px;
}

* + html body {
    font-family: "メイリオ","Meiryo";
}
