html {
    height: 100%;
}
body {
    height: 100%;
    color:white;
    font-size: 10pt;
    margin:0;
    padding:0;
    background: url(img/background.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#header {
    position:absolute;
    top: 0;
    left: 1em;
}
#header #title {
    color: #00ff00;
}

.fuiText {
  position: fixed;
  font-family: 'Audiowide', Impact, Charcoal, sans-serif;
  text-shadow: -6px -6px 1px rgba(34, 142, 184, 0.10),
                0px 0px 4px rgba(114, 150, 147, 0.75);
  color: rgb(34, 142, 184);
  mix-blend-mode: screen;
}

#level {
  bottom: 7.5%;
  right: 84.9%;
  text-align: center;
  font-size: 10vh;
  width: 20vh;
}
#levelLabel {
  right: 84.9%;
  bottom: 19.3%;
  text-align: center;
  font-size: 2.3vh;
  width: 20vh;
}

#fps {
  bottom: 5.4%;
  left: 79.6%;
  text-align: right;
  font-size: 10vh;
}
#fpsLabel {
  bottom: 2.3%;
  left: 79.9%;
  text-align: right;
  font-size: 2.3vh;
}

#triangles {
  bottom: 7%;
  right: 67%;
  text-align: right;
  font-size: 5vh;
}
#trianglesLabel {
  bottom: 3.3%;
  right: 67.2%;
  text-align: right;
  font-size: 2.3vh;
}

#displayMode {
  position: fixed;
  bottom: 10%;
  right: 50%;
  margin-right: -150px;
  width: 300px;
  text-align:center;
}

#displayModeLabel{
  font-family: 'Audiowide', Impact, Charcoal, sans-serif;
  color: #ccc;
  opacity: .5;
  font-size: 10px;
  letter-spacing: 6px;
  margin-right: -7px;
}

.selected { 
    background-blend-mode: multiply;
    background-color: rgb(34, 142, 184);
}

.button {
  background-image: url(img/button.png);
  height: 11px;
  width: 11px;
  margin: 10px;
  display: inline-block;
}

#version {
    position:absolute;
    bottom:0;
    left:1em;
    font-size: 5pt;
}

#credit {
    position:absolute;
    bottom:1em;
    left:1em;
    font-size: 9pt;
}

#footer {
    position: absolute;
    clear: left;
    bottom: 0;
    right: 3em;
    font-size: 9pt;
}

canvas#main
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: default;
    opacity: .7;
    /*mix-blend-mode: hard-light;*/
    mix-blend-mode: difference;
    mix-blend-mode: overlay;
    mix-blend-mode: hard-light;
}

#loading
{
    position:absolute;
    top: 100px;
    left:100px;
}

a:link { color: #ffff00; }
a:visited { color: #ffff80; }
