html {
    height: 100%;
}
body {
    height: 100%;
    color:white;
    font-size: 10pt;
    margin:0;
    padding:0;
    background: url(img/background.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#header {
    position:absolute;
    top: 0;
    left: 1em;
}
#header #title {
    color: #00ff00;
}

#fps {
position: fixed;
  font-family: 'Audiowide', Impact, Charcoal, sans-serif;
  bottom: 5.4%;
  left: 79.6%;
  text-align: right;
  font-size: 10vh;
  color: rgb(34, 142, 184);
}
#triangles {
  position: fixed;
  font-family: 'Audiowide', Impact, Charcoal, sans-serif;
  bottom: 7%;
  right: 67%;
  text-align: right;
  font-size: 5vh;
  color: rgb(34, 142, 184);
}

#displayMode {
  position: fixed;
  bottom: 10%;
  right: 50%;
  margin-right: -93px;
  width: 186px;
}

.selected { 
}

.button {
  background-image: url(img/button.png);
  height: 11px;
  width: 11px;
  float: left;
  margin: 10px;
}

#version {
    position:absolute;
    bottom:0;
    left:1em;
    font-size: 5pt;
}

#credit {
    position:absolute;
    bottom:1em;
    left:1em;
    font-size: 9pt;
}

#footer {
    position: absolute;
    clear: left;
    bottom: 0;
    right: 3em;
    font-size: 9pt;
}

canvas#main
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: default;
    opacity: .7;
    /*mix-blend-mode: hard-light;*/
    /**/mix-blend-mode: difference;
}

#loading
{
    position:absolute;
    top: 100px;
    left:100px;
}

a:link { color: #ffff00; }
a:visited { color: #ffff80; }
